@inject IWebHostEnvironment _environment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css">

    @await RenderSectionAsync("bottom_of_head", false)

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Index" >Home</></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Events" asp-action="Index">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/MyEvents">My Events</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                 <li class="nav-item">
                                 <a class="btn btn-dark" asp-page="/Admin/Index">Admin</a>
                                 </li>
                            }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Organizer"))
                            {
                                 <li class="nav-item">
                                 <a class="btn btn-dark" asp-page="/Organizer/Index">Organizer</a>
                                 </li>
                            }
                    @if (_environment.IsDevelopment())
                    {
                        <li class="nav-item">
                            <a class="btn btn-warning" asp-page="/Development">Developer tools</a>
                        </li>
                    }
                    
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link">@User.Identity.Name</a>
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/PersonalData">My Account</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<main>
    <div class="container-md">
        @RenderBody()
    </div>
 
</main>
<footer>
    <div class="container">
        &copy; AnnaMärta 2022
    </div>
</footer>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>

