@page
@model EventiaWebapp.Pages.IndexModel

<h1>Epic Events RAZOR</h1>
<div>
    <p>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
        architecto beatae vitae dicta sunt explicabo.
    </p>
</div>
<div>
    <button>Register</button>
    <button>Log In</button>
</div>
