@page
@model EventiaWebapp.Pages.IndexModel


<div class="homeMain">
    <h1>Epic Events</h1>
    <p>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo.
    </p>

    <div>
        <button type="button" class="btn btn-dark">Register</button>
        <button type="button" class="btn btn-dark">Login</button>
    </div>

</div>
