<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./OrganizerApplications">Pending organizer requests</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./ManageAllUsers">Manage users</a></li>
</ul>
