@page
@model EventiaWebapp.Pages.Admin.AccountChangeConfirmationModel
@{
}

<h3>@Model.UserTohandle.UserName has been changed by you</h3>
<p>An email confirmation has been sent to both your emails</p>


