@page
@model EventiaWebapp.Pages.Admin.DeclineConfirmationModel
@{
}
<h3>@Model.EventiaUser.UserName has been declined for a organizer account</h3>
<p>An email confirmation has been sent to both your emails</p>

