@page
@model EventiaWebapp.Pages.Admin.IndexModel
@{
}
<div class="container-sm">
<h3 class="text-center">“With great power comes great responsibility”</h3>
<p> If you have the ability to do something, make sure that you do it for the good of others. Highly admired people like Gandhi and Ninoy Aquino have done things that follow the spirit of this message</p>
</div>