
@{
    
        Layout = "_MainLayout";
    
   
}

<h1>Organizer page</h1>

<div>
    <h2>Handle your events</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNavOrganizer" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

