<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./ManageEvents">Manage Event</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="./NewEvent">New Event</a></li>
</ul>
