@page
@model EventiaWebapp.Pages.Organizer.IndexModel
@{
}
<div class="container-sm">
<h3 class="text-center">Organizer profile</h3>
<p> “Whatever you do, do it well. Do it so well that when people see you do it they will want to come back and see you do it again and they will want to bring others and show them how well you do what you do.” 
    -Walt Disney</p>
</div>
